.burger {
  position: relative;
  width: 24px;
  padding-block: 7px;

  &__line,
  &::before,
  &::after {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $c_white;
    transition-duration: $amin-time;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &--active {
    &::before {
      rotate: 45deg;
      translate: 0 7px;
    }

    &::after {
      rotate: -45deg;
      translate: 0 -7px;
    }
  }

  &__line {
    &--active {
      scale: 0;
    }
  }
}
