.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  transition-duration: $amin-time;

  &--black {
    background-color: $c_black;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
  }

  &__nav {
    @include onTablet {
      display: none;
    }
  }

  &__burger {
    display: none;

    @include onTablet {
      display: block;
    }
  }
}
