.nav {
  &__list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 32px;
  }

  &__link {
    position: relative;
    color: $c_white;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      translate: -50%;
      bottom: -10px;
      display: block;
      width: 24px;
      height: 2px;
      background-color: $c_white;
      scale: 0;
      transition-duration: $amin-time;
    }

    &:hover {
      &::after {
        scale: 1;
      }
    }
  }
}
