.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $c_white;
  @extend %main-text;
  color: $c_black;

  &__content {
    flex-grow: 1;
  }

  &__menu {
    display: none;

    @include onTablet {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
    }
  }

  &__hero {
    @include adaptive-value('margin-bottom', 160, 96);
  }

  &__section {
    @include adaptive-value('margin-bottom', 184, 96);
  }
}
