@font-face {
  font-family: "Josefin Sans";
  font-display: swap;
  src: url("../fonts/JosefinSans-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Alata;
  font-display: swap;
  src: url("../fonts/Alata-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@import "./reset";
@import "./utils";
@import "./typography";
@import "./blocks";
